Marketing Agent/admin_agent.json
{
  "name": "RAG Sys / admin",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful assistant\nyour only task is restricted within the available tools (list files & upload new file)\nanything else you should never respond to\n\n\n",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -640,
        256
      ],
      "id": "f9b8a189-e7f4-4982-a9c8-94d38393b2d3",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true,
          "allowedFilesMimeTypes": "*"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1136,
        512
      ],
      "id": "4c83e83a-4dd7-4236-a0af-91388bedaf74",
      "name": "When chat message received",
      "webhookId": "3bb42b8e-5292-43ed-8e7d-e23c5a828640"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "use to list availabe files",
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1a2nbogZyvkNOFTVr46XdIBEBI9ePDrMu",
            "mode": "list",
            "cachedResultName": "Agent",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1a2nbogZyvkNOFTVr46XdIBEBI9ePDrMu"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        -432,
        480
      ],
      "id": "e8b02898-72a7-401c-8291-daf20700428e",
      "name": "Search files to list",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cSakpcjUJJ7fWOvK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -560,
        480
      ],
      "id": "5c3af23b-63c5-4fbf-aca2-5455c2e9b43e",
      "name": "Chat Memory",
      "credentials": {
        "postgres": {
          "id": "UqKuWEmJh7MsjD2Q",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "30b7e573-c05c-4dfb-b5cc-18492e0eb731",
              "leftValue": "={{ $json.files[0].fileName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -912,
        512
      ],
      "id": "363c837a-0297-4b8f-b942-6f5035c42c83",
      "name": "If"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -688,
        480
      ],
      "id": "9218d088-3978-447d-a615-e81f09f9fc40",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "kcYOogQEym7vRgeN",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the original chat message item\nconst chatItem = $('When chat message received').first();\n\n// Check if there's a file\nif (!chatItem.json.files || !chatItem.json.files.length) {\n  throw new Error('No file found in chat message');\n}\n\n// Get file information\nconst fileInfo = chatItem.json.files[0];\nconst binaryKey = fileInfo.binaryKey;\nconst fileName = fileInfo.fileName;\n\n// Get the binary data from the chat item\nconst binaryData = chatItem.binary[binaryKey];\n\nif (!binaryData) {\n  throw new Error(`No binary data found for key: ${binaryKey}`);\n}\n\n// Return a new item with the binary data and the filename\nreturn [{\n  json: {\n    fileName: fileName,\n    binaryKey: binaryKey\n  },\n  binary: {\n    [binaryKey]: binaryData\n  }\n}];"
      },
      "id": "06f64d49-b080-4514-8d93-e944acc21cb2",
      "name": "Prepare upload data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        832
      ]
    },
    {
      "parameters": {
        "jsCode": "// Return success message for upload\nreturn [{ \n  \"text\": \"Uploaded Document: \" + $json.name,\n  \"success\": true,\n  \"action\": \"upload\"\n}]"
      },
      "id": "3ac10bf7-1a51-48da-9195-bde6e416d83c",
      "name": "Upload success message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        656
      ]
    },
    {
      "parameters": {
        "jsCode": "// Return success message for update\nreturn [{ \n  \"text\": \"Updated Document: \" + $json.name,\n  \"success\": true,\n  \"action\": \"update\"\n}]"
      },
      "id": "88f4ff02-9538-4b19-b6d9-5bb535e10d09",
      "name": "Update success message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        832
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('When chat message received').item.json.files[0].fileName }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1a2nbogZyvkNOFTVr46XdIBEBI9ePDrMu",
            "mode": "list",
            "cachedResultName": "Agent",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1a2nbogZyvkNOFTVr46XdIBEBI9ePDrMu"
          }
        },
        "options": {}
      },
      "id": "2c824ab2-6f11-4647-a599-46d5e7766638",
      "name": "Search files and folders1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -640,
        832
      ],
      "alwaysOutputData": true,
      "notesInFlow": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cSakpcjUJJ7fWOvK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "70c58d70-e964-4709-a4dc-a995f785079a",
              "leftValue": "={{ $('Search files and folders1').item.json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "586abb83-9357-4fb5-b10b-7ba24cc4a6ee",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -80,
        832
      ]
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ $json.binaryKey }}",
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1a2nbogZyvkNOFTVr46XdIBEBI9ePDrMu",
          "mode": "list",
          "cachedResultName": "Agent",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1a2nbogZyvkNOFTVr46XdIBEBI9ePDrMu"
        },
        "options": {}
      },
      "id": "29d70bc6-5f09-42a0-9fa1-04efb3341937",
      "name": "Upload file",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        128,
        656
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cSakpcjUJJ7fWOvK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Search files and folders1').item.json.id }}",
          "mode": "id"
        },
        "changeFileContent": true,
        "inputDataFieldName": "={{ $json.binaryKey }}",
        "newUpdatedFileName": "={{ $json.fileName }}",
        "options": {}
      },
      "id": "54a29622-c8b8-4085-956e-46460e5dd566",
      "name": "update file",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        144,
        832
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cSakpcjUJJ7fWOvK",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files to list": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prepare upload data": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Prepare upload data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Upload success message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update file": {
      "main": [
        [
          {
            "node": "Update success message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c3f27cc8-216b-4981-9aab-f3cca4b03f3a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dc670b1fe98168d48d6ffc4dd4f78eb45675ed40de1fc6d693d37d3fc3d96652"
  },
  "id": "0lXX46Uze1VXxCXh",
  "tags": [
    {
      "updatedAt": "2026-03-19T23:01:45.173Z",
      "createdAt": "2026-03-19T23:01:45.173Z",
      "id": "mRNcL17ZeOqs9zrj",
      "name": "Marketing Agent"
    }
  ]
}