Marketing Agent/embeding_trigger.json
{
  "name": "Marketing Bot / Embeding Trigger",
  "nodes": [
    {
      "parameters": {
        "chunkOverlap": 30,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -304,
        5936
      ],
      "id": "f21b6031-955c-40f8-9783-7ead6f70d878",
      "name": "Recursive Character Text Splitter4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -384,
        5728
      ],
      "id": "efdb363c-9e85-4c9d-bb6e-9fe42e62ef9d",
      "name": "Default Data Loader3"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -864,
        5808
      ],
      "id": "a9773dcc-2360-46cd-87ae-8dfd41a34d1d",
      "name": "Extract from File3"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1088,
        5808
      ],
      "id": "e63c1242-e4d4-4446-90c2-fe6c27826096",
      "name": "Google Drive3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cSakpcjUJJ7fWOvK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1mOv9QFXo_SPGO003CS_7bmqg1v1SeIhG",
            "mode": "list",
            "cachedResultName": "Actives_Folder",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1mOv9QFXo_SPGO003CS_7bmqg1v1SeIhG"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1552,
        5744
      ],
      "id": "613277f5-e816-4316-bf51-5a3a02d53faf",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cSakpcjUJJ7fWOvK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1312,
        5744
      ],
      "id": "3fd89b47-5c1a-411f-abee-92e07b59d909",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "chunkOverlap": 30,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -656,
        6816
      ],
      "id": "ae1285e9-f22a-4aa0-8905-e0326a2f59c7",
      "name": "Recursive Character Text Splitter",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -736,
        6608
      ],
      "id": "e56c97ea-d23e-4355-becb-ef2dc0716698",
      "name": "Default Data Loader",
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -864,
        6608
      ],
      "id": "0ad79b84-d12e-445d-8718-e6e7d7310039",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "GSizPo5jKqOR9xcM",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        -832,
        6384
      ],
      "id": "dd3a88f8-2133-413d-9954-e5329d8c5369",
      "name": "Simple Vector Store",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1088,
        6320
      ],
      "id": "b33e8a09-4ceb-4c26-85ec-27c24bb2b08e",
      "name": "Extract from File",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "16R1EM9CVSivo_mCA5lUWH2_JJDmb8gay",
          "mode": "list",
          "cachedResultName": "EFF-V2-web_full_stack-08-11-2023-.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/16R1EM9CVSivo_mCA5lUWH2_JJDmb8gay/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1312,
        6320
      ],
      "id": "e833ed62-3715-4b7c-a2d2-7059cc854fd3",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cSakpcjUJJ7fWOvK",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1mOv9QFXo_SPGO003CS_7bmqg1v1SeIhG",
            "mode": "list",
            "cachedResultName": "Actives_Folder",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1mOv9QFXo_SPGO003CS_7bmqg1v1SeIhG"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1760,
        6384
      ],
      "id": "7d605f23-d371-4f24-8f4d-ebf409977ec6",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cSakpcjUJJ7fWOvK",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1536,
        6384
      ],
      "id": "919dba06-d1b8-4bdc-b506-e45353ef8407",
      "name": "Loop Over Items1",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "active_marketing_campain_knowlege",
          "mode": "id"
        },
        "embeddingBatchSize": 768,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -480,
        5504
      ],
      "id": "713adbf4-3b11-4a40-a484-520b164a5fe3",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "Myyus1MIVhpLtCAP",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "path": "fresh-embend",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2416,
        5776
      ],
      "id": "b8f0ab00-3fb7-4710-98f9-1508687af110",
      "name": "Webhook",
      "webhookId": "b7dccf1d-5d89-464e-bb64-f05aa6b3c7ba"
    },
    {
      "parameters": {
        "model": "embeddinggemma:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -496,
        5744
      ],
      "id": "68bc5740-b236-4928-8d06-da9532ced128",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "kcYOogQEym7vRgeN",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteCollection",
        "collectionName": {
          "__rl": true,
          "value": "active_marketing_campain_knowlege",
          "mode": "list",
          "cachedResultName": "active_marketing_campain_knowlege"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-qdrant.qdrant",
      "typeVersion": 1,
      "position": [
        -1888,
        5648
      ],
      "id": "e5ed56e2-1c49-4617-90e9-fb58229596c6",
      "name": "Delete Collection",
      "credentials": {
        "qdrantRestApi": {
          "id": "UjqvqUNhKDvNExOG",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getCollection",
        "collectionName": {
          "__rl": true,
          "value": "active_marketing_campain_knowlege",
          "mode": "name"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-qdrant.qdrant",
      "typeVersion": 1,
      "position": [
        -2208,
        5776
      ],
      "id": "4a423296-c88a-4e59-a365-fc3ef6db2786",
      "name": "Get Collection",
      "alwaysOutputData": false,
      "credentials": {
        "qdrantRestApi": {
          "id": "UjqvqUNhKDvNExOG",
          "name": "Qdrant account"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Recursive Character Text Splitter4": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader3",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader3": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File3": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive3": {
      "main": [
        [
          {
            "node": "Extract from File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Google Drive3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Get Collection": {
      "main": [
        [
          {
            "node": "Delete Collection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Collection": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "979bf9d2-720f-4fce-adf0-340cb314b714",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dc670b1fe98168d48d6ffc4dd4f78eb45675ed40de1fc6d693d37d3fc3d96652"
  },
  "id": "sJCUTTE4cfsLvgkB",
  "tags": [
    {
      "updatedAt": "2026-03-19T23:01:45.173Z",
      "createdAt": "2026-03-19T23:01:45.173Z",
      "id": "mRNcL17ZeOqs9zrj",
      "name": "Marketing Agent"
    }
  ]
}