RAG sys.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "16R1EM9CVSivo_mCA5lUWH2_JJDmb8gay",
          "mode": "list",
          "cachedResultName": "EFF-V2-web_full_stack-08-11-2023-.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/16R1EM9CVSivo_mCA5lUWH2_JJDmb8gay/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        640
      ],
      "id": "48543d33-c619-4c42-8cf7-4ad30189313b",
      "name": "Google Drive",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        224,
        640
      ],
      "id": "0aa3e98e-6196-4d34-a8f0-9929804e04ca",
      "name": "Extract from File",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        448,
        640
      ],
      "id": "39d0286d-9ba7-4050-8f2e-450707589783",
      "name": "Simple Vector Store",
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        912
      ],
      "id": "3a2a8fb5-ebdd-4e2e-87c5-e94d80e28650",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "FKMBL9WXm063wWRF",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        544,
        928
      ],
      "id": "9d107814-4558-4c40-85f0-97c8894742d1",
      "name": "Default Data Loader",
      "disabled": true
    },
    {
      "parameters": {
        "chunkOverlap": 30,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        640,
        1152
      ],
      "id": "6a7830df-9e06-4ec4-90e5-77335c8907a0",
      "name": "Recursive Character Text Splitter",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "208804e9-6ee0-44b3-b118-4e0462550e2b",
      "name": "AI Agent",
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -128,
        240
      ],
      "id": "37c4fcee-00e7-4819-8a3b-f23e339e62da",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FKMBL9WXm063wWRF",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        48,
        240
      ],
      "id": "b32446fe-add7-4c40-b119-45f7c20a33bf",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "company_products_knowlege",
        "toolDescription": "please call this tool when the use has specific question about the company's specific product or project",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        208,
        272
      ],
      "id": "9d1b9da6-5d0b-40e0-ab46-fa49dc0a6b17",
      "name": "Simple Vector Store1",
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        400
      ],
      "id": "1f84ab71-8ca0-4b84-8cfc-5c876e999579",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "FKMBL9WXm063wWRF",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        336,
        3168
      ],
      "id": "96d2e064-9992-4ad8-a798-4f80dc3a4c26",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "FKMBL9WXm063wWRF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ {message : $json.message } }}",
        "options": {
          "systemMessage": "You are a helpful assistant\n- answer based to the data provided given a context resource"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        336,
        2928
      ],
      "id": "36f316af-fc01-4076-92f2-52773f6a6582",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "chunkOverlap": 30,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        176,
        2240
      ],
      "id": "7a7704c0-7393-45c5-ac1e-ef281c1301aa",
      "name": "Recursive Character Text Splitter2"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        80,
        2016
      ],
      "id": "7a0f724f-0d43-4271-889a-f881611f54da",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -144,
        2000
      ],
      "id": "2cb6e706-07a9-44ea-889a-0eafff575f0b",
      "name": "Embeddings Google Gemini3",
      "credentials": {
        "googlePalmApi": {
          "id": "FKMBL9WXm063wWRF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "id"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        -16,
        1744
      ],
      "id": "f2d1cc2a-f44a-44de-b71f-3a4aaed82f6b",
      "name": "Simple Vector Store2"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "joinPages": false
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -240,
        1744
      ],
      "id": "b0cb1198-a7f8-4cf1-aeac-f0f681a853cc",
      "name": "Extract from File1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1568,
        4928
      ],
      "id": "64b4d543-3fba-496f-9133-3619050b4094",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "chunkOverlap": 30,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -656,
        5424
      ],
      "id": "2a6c92f1-b39c-4f4d-8e60-6c9642ee5dd2",
      "name": "Recursive Character Text Splitter3",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -768,
        5200
      ],
      "id": "6ea6f224-7390-4e03-89d1-5683405a3a65",
      "name": "Default Data Loader2",
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -976,
        5184
      ],
      "id": "c86e42b7-0863-4218-a72e-d7696c5e1a87",
      "name": "Embeddings Google Gemini4",
      "credentials": {
        "googlePalmApi": {
          "id": "FKMBL9WXm063wWRF",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        -864,
        4928
      ],
      "id": "c153e159-3e08-4e64-b40f-c78162324e2c",
      "name": "Simple Vector Store3",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1088,
        4928
      ],
      "id": "9067c634-5820-4cdc-af39-032232c7f54d",
      "name": "Extract from File2",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "16R1EM9CVSivo_mCA5lUWH2_JJDmb8gay",
          "mode": "list",
          "cachedResultName": "EFF-V2-web_full_stack-08-11-2023-.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/16R1EM9CVSivo_mCA5lUWH2_JJDmb8gay/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1296,
        4928
      ],
      "id": "02ddda6c-ccfd-4cf8-998c-77d36e38c149",
      "name": "Google Drive2",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// In a Function node or Code node\nconst workflowStaticData = $getWorkflowStaticData('global');\nconst hasContext = workflowStaticData?.hasContext || false;\nconst savedContext = workflowStaticData?.savedContext || null;\n\nconsole.log(\"workflowStaticData\", workflowStaticData)\nif (hasContext) {\n  // Context exists from previous runs\n  return [{\n    json: {\n      context: savedContext,\n      needsRetrieval: false,\n      message: $input.first().json.chatInput\n    }\n  }];\n} else {\n  // No context yet\n  return [{\n    json: {\n      needsRetrieval: true,\n      message: $input.first().json.chatInput\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        2784
      ],
      "id": "a026b80f-f30b-44dd-a155-b0d58aaf8901",
      "name": "check context exist"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f2abe816-f142-41ae-8206-8e51a725e88e",
              "leftValue": "={{ $json.needsRetrieval }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -576,
        2624
      ],
      "id": "4cd1d8ef-97c3-4629-9159-cb8baf3ce347",
      "name": "If : NeedRetrieval"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1MXJUOmwkx2dxmXcytbWcvM1Br11D0x0c",
          "mode": "list",
          "cachedResultName": "CONGE_SERVICE_DOCUMENTATION.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1MXJUOmwkx2dxmXcytbWcvM1Br11D0x0c/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -464,
        1744
      ],
      "id": "89d581ca-238a-44ac-9fec-7779995f6a0c",
      "name": "Get resource",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dOTQooioTFbHjRlL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const workflowStaticData = $getWorkflowStaticData('global');\nconst hasContext = workflowStaticData?.hasContext || false;\nconst savedContext = workflowStaticData?.savedContext || null;\n\nif (hasContext) {\n  // Context exists from previous runs\n  return [{\n    json: {\n      context: savedContext,\n      message: $('When chat message received').first().json.chatInput\n    }\n  }];\n} else {\n  // No context yet\n  return [{\n    json: {\n      context: savedContext,\n      message: $('When chat message received').first().json.chatInput\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        2800
      ],
      "id": "3f98fbaf-e64c-4d9a-b907-2d8180a9d334",
      "name": "Pass Context Data1"
    },
    {
      "parameters": {
        "jsCode": "// FIXED CODE - Add this to your \"Pass Context to Agent\" node\nconst retrievedData =  items.map((item) => {\n  return {\n    json: {...item.json, isEmbedded: true},  // Your existing data\n    pairedItem: { item: item.index }  // CRITICAL metadata\n    \n  };\n});\n\n// Another Function node after successful retrieval\nconst workflowStaticData = $getWorkflowStaticData('global');\nworkflowStaticData.hasContext = true;\nworkflowStaticData.savedContext = retrievedData;\n\nconsole.log('Size of savedContext:', JSON.stringify(retrievedData).length, 'bytes');\n\nconsole.log(\"{workflowStaticData}\", workflowStaticData)\nconsole.log(\"[workflowStaticData]\", workflowStaticData); \n\nreturn [{json:{isEmbedded: true}}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        2352
      ],
      "id": "cdb2db06-c5de-4150-998e-fcadf3b76f43",
      "name": "prepare Context Data"
    },
    {
      "parameters": {
        "availableInChat": true,
        "options": {
          "allowFileUploads": true,
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1376,
        2848
      ],
      "id": "fa6a650b-5e64-4672-809b-f911cb2ff92a",
      "name": "When chat message received",
      "webhookId": "b55a6a91-9794-4221-a5cd-8a8b5e75c993"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.2,
      "position": [
        1216,
        3328
      ],
      "id": "fa6db596-181b-4ad8-8700-781a5bd8f4ff",
      "name": "Chat",
      "webhookId": "94c10980-86b9-4d37-94a5-3d8f8bf572d3"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ 34234234234234234234234234234234234234 }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        448,
        3232
      ],
      "id": "d8bc34d5-661c-4b9c-ba58-be7c5d300f09",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "jrVuFQHWZ9pBOfZW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "retrieve context data from this vector store to answer",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        608,
        3168
      ],
      "id": "bcc381a5-dd69-448e-a147-9938636a710b",
      "name": "Simple Vector Store4"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        640,
        3328
      ],
      "id": "567956bc-9471-4e55-9536-50545cba4e17",
      "name": "Embeddings Google Gemini5",
      "credentials": {
        "googlePalmApi": {
          "id": "FKMBL9WXm063wWRF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter2": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini3": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store2": {
      "main": [
        [
          {
            "node": "prepare Context Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Simple Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter3": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader2",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store3",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini4": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Simple Vector Store3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check context exist": {
      "main": [
        [
          {
            "node": "If : NeedRetrieval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If : NeedRetrieval": {
      "main": [
        [
          {
            "node": "Get resource",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pass Context Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get resource": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Context Data1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare Context Data": {
      "main": [
        [
          {
            "node": "If : NeedRetrieval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "check context exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "main": [
        [
          {
            "node": "check context exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store4": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini5": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store4",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "dc670b1fe98168d48d6ffc4dd4f78eb45675ed40de1fc6d693d37d3fc3d96652"
  }
}