RAG sys.json
{
  "name": "RAG sys",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "16R1EM9CVSivo_mCA5lUWH2_JJDmb8gay",
          "mode": "list",
          "cachedResultName": "EFF-V2-web_full_stack-08-11-2023-.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/16R1EM9CVSivo_mCA5lUWH2_JJDmb8gay/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        144,
        672
      ],
      "id": "781149d3-5761-440e-b1ae-ef6302faebfd",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "M9gv87d5hX5DH5vL",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        368,
        672
      ],
      "id": "6e53e70f-927c-450e-89ab-5c14d180a7bf",
      "name": "Extract from File",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        592,
        672
      ],
      "id": "82e914c1-b0a9-4612-b648-7c02fa508b95",
      "name": "Simple Vector Store",
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        464,
        944
      ],
      "id": "79adc86e-d98b-4507-8664-87aee3912f9f",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "th7a3ym5SQTscrPe",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        688,
        960
      ],
      "id": "0865d582-fada-41fb-a37f-91c581cd79d8",
      "name": "Default Data Loader",
      "disabled": true
    },
    {
      "parameters": {
        "chunkOverlap": 30,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        784,
        1184
      ],
      "id": "dfca8d8d-e28b-4324-a327-6525f0146079",
      "name": "Recursive Character Text Splitter",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        144,
        32
      ],
      "id": "43be09a7-e58b-4912-a28c-d9ad8be91b01",
      "name": "AI Agent",
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        16,
        272
      ],
      "id": "665b92d1-de3c-4056-9137-5359ebe6c561",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "th7a3ym5SQTscrPe",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        192,
        272
      ],
      "id": "98a42f8a-df5d-41f0-bba2-2bd73e6782c6",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "company_products_knowlege",
        "toolDescription": "please call this tool when the use has specific question about the company's specific product or project",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        352,
        304
      ],
      "id": "0c8e1dbe-a298-4a27-a578-53b0ef414cd9",
      "name": "Simple Vector Store1",
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        368,
        432
      ],
      "id": "4512fafe-6462-485a-8fad-cac04eb6e0d1",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "th7a3ym5SQTscrPe",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1680,
        3472
      ],
      "id": "1f0ea49f-c233-4cd1-a331-b78d30910585",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "th7a3ym5SQTscrPe",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ {message : $json.message, context: $json.context } }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1680,
        3232
      ],
      "id": "0869a94a-3b4d-445a-897c-781dc1804104",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "chunkOverlap": 30,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        464,
        2720
      ],
      "id": "447aa413-bfb4-439a-ba35-42b50f895f98",
      "name": "Recursive Character Text Splitter2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        368,
        2496
      ],
      "id": "9253bb2e-ca0d-4891-b3c9-b53ccb2f84dd",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        2480
      ],
      "id": "df32afd6-bf30-45f5-9c15-ab24c0339be9",
      "name": "Embeddings Google Gemini3",
      "credentials": {
        "googlePalmApi": {
          "id": "th7a3ym5SQTscrPe",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        272,
        2224
      ],
      "id": "c55b6577-9980-4118-8bb5-383f085e9051",
      "name": "Simple Vector Store2"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        48,
        2224
      ],
      "id": "66fc1458-39e6-4f10-af5f-ed22381ee539",
      "name": "Extract from File1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1424,
        4960
      ],
      "id": "968d276f-1ee2-4785-b4cb-ecf8287898cb",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "chunkOverlap": 30,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -512,
        5456
      ],
      "id": "c945c574-3e55-4217-9152-98d2ec09fe2d",
      "name": "Recursive Character Text Splitter3",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -624,
        5232
      ],
      "id": "96055f62-2036-4447-ac0d-2a7975a90550",
      "name": "Default Data Loader2",
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -832,
        5216
      ],
      "id": "25dc83eb-8620-41ac-82ad-6f3299d5ee8f",
      "name": "Embeddings Google Gemini4",
      "credentials": {
        "googlePalmApi": {
          "id": "th7a3ym5SQTscrPe",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        -720,
        4960
      ],
      "id": "274448e7-aa76-40c4-9a28-b32376a614da",
      "name": "Simple Vector Store3",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -944,
        4960
      ],
      "id": "cac65a0e-b47a-4a56-b51e-56e415249642",
      "name": "Extract from File2",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "16R1EM9CVSivo_mCA5lUWH2_JJDmb8gay",
          "mode": "list",
          "cachedResultName": "EFF-V2-web_full_stack-08-11-2023-.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/16R1EM9CVSivo_mCA5lUWH2_JJDmb8gay/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1152,
        4960
      ],
      "id": "b521e76b-4036-427b-bce7-aaf984cc2599",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "M9gv87d5hX5DH5vL",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// In a Function node or Code node\nconst workflowStaticData = $getWorkflowStaticData('global');\nconst hasContext = workflowStaticData?.hasContext || false;\nconst savedContext = workflowStaticData?.savedContext || null;\n\nconsole.log(\"workflowStaticData\", workflowStaticData)\nif (hasContext) {\n  // Context exists from previous runs\n  return [{\n    json: {\n      context: savedContext,\n      needsRetrieval: false,\n      message: $input.first().json.chatInput\n    }\n  }];\n} else {\n  // No context yet\n  return [{\n    json: {\n      needsRetrieval: true,\n      message: $input.first().json.chatInput\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        2736
      ],
      "id": "173448be-7df7-49cf-9e30-7a520bda56ac",
      "name": "check context exist"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f2abe816-f142-41ae-8206-8e51a725e88e",
              "leftValue": "={{ $json.needsRetrieval }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -432,
        2672
      ],
      "id": "b99e6160-9002-4a30-a1ca-8cea4195a5e7",
      "name": "If : NeedRetrieval"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1aWnVPK_Q8SbkX4HYkyNDaUANqKoiye48",
          "mode": "list",
          "cachedResultName": "Conge Service Documentation.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1aWnVPK_Q8SbkX4HYkyNDaUANqKoiye48/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -176,
        2224
      ],
      "id": "2e582336-de01-4db8-8ca3-502613c5bac5",
      "name": "Get resource",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "M9gv87d5hX5DH5vL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const workflowStaticData = $getWorkflowStaticData('global');\nconst hasContext = workflowStaticData?.hasContext || false;\nconst savedContext = workflowStaticData?.savedContext || null;\n\nif (hasContext) {\n  // Context exists from previous runs\n  return [{\n    json: {\n      context: savedContext,\n      message: $('When chat message received').first().json.chatInput\n    }\n  }];\n} else {\n  // No context yet\n  return [{\n    json: {\n      context: savedContext,\n      message: $('When chat message received').first().json.chatInput\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        3104
      ],
      "id": "a1f79c16-7657-4c16-80b5-d66ac93a3165",
      "name": "Pass Context Data1"
    },
    {
      "parameters": {
        "jsCode": "// FIXED CODE - Add this to your \"Pass Context to Agent\" node\nconst retrievedData =  items.map((item) => {\n  return {\n    json: item.json,  // Your existing data\n    pairedItem: { item: item.index }  // CRITICAL metadata\n  };\n});\n\n// Another Function node after successful retrieval\nconst workflowStaticData = $getWorkflowStaticData('global');\nworkflowStaticData.hasContext = true;\nworkflowStaticData.savedContext = retrievedData;\n\nconsole.log('Size of savedContext:', JSON.stringify(retrievedData).length, 'bytes');\n\nconsole.log(\"{workflowStaticData}\", workflowStaticData)\nconsole.log(\"[workflowStaticData]\", workflowStaticData); \n\nreturn retrievedData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        2224
      ],
      "id": "d09e5711-b04c-4a92-9449-d8bf23067829",
      "name": "prepare Context Data"
    },
    {
      "parameters": {
        "availableInChat": true,
        "options": {
          "allowFileUploads": true,
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1008,
        2800
      ],
      "id": "586a3dc3-b903-44dc-8a1b-c08fe0be765e",
      "name": "When chat message received",
      "webhookId": "b55a6a91-9794-4221-a5cd-8a8b5e75c993"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.2,
      "position": [
        2016,
        3232
      ],
      "id": "35335c49-ac35-406c-b50e-9220ce4abaea",
      "name": "Chat",
      "webhookId": "94c10980-86b9-4d37-94a5-3d8f8bf572d3"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ \"dfv23423423423423423424234234234\" }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1856,
        3488
      ],
      "id": "058753a7-9d67-4354-9bf0-5b438115c5a1",
      "name": "Simple Memory1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter2": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store2": {
      "main": [
        [
          {
            "node": "prepare Context Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini3": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Simple Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter3": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader2",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store3",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini4": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Simple Vector Store3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check context exist": {
      "main": [
        [
          {
            "node": "If : NeedRetrieval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If : NeedRetrieval": {
      "main": [
        [
          {
            "node": "Get resource",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pass Context Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get resource": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Context Data1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare Context Data": {
      "main": [
        [
          {
            "node": "Pass Context Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "check context exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "main": [
        []
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "822004f6-78df-4763-a2bb-e65002d7bae8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4bfc45920cf0bde048c9493957678d0dccff63ac16a17fcb1966a038339d5523"
  },
  "id": "MKphVeG4nAal9Ecu",
  "tags": []
}