RAG_sys_org.json
{
  "name": "RAG sys",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "10q9Zi54kGKveNqAgtWFwxXsrhEK70lln",
          "mode": "list",
          "cachedResultName": "📜 Cahier des Charges - MayelePass.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/10q9Zi54kGKveNqAgtWFwxXsrhEK70lln/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        60,
        40
      ],
      "id": "0226fdb4-b91f-4789-a00f-6fd82c68f585",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "U4HawoHc4BS90qMt",
          "name": "Google Drive account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        280,
        40
      ],
      "id": "397703f5-88d5-41ea-a2de-c040d4aba2d6",
      "name": "Extract from File",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        500,
        40
      ],
      "id": "34718e4a-d9b8-45c5-82b3-d92121ec2f60",
      "name": "Simple Vector Store",
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        380,
        300
      ],
      "id": "c4c2c32d-7856-47f9-8f42-1a325da77bcd",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "OGnK78x9dBsbaJZ0",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        600,
        320
      ],
      "id": "0fafd45a-3b04-4c84-af0b-4043d0d091b6",
      "name": "Default Data Loader",
      "disabled": true
    },
    {
      "parameters": {
        "chunkOverlap": 30,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        700,
        540
      ],
      "id": "51a18e7b-cc04-403f-a614-afe72b994894",
      "name": "Recursive Character Text Splitter",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        60,
        -600
      ],
      "id": "2068878e-2dbc-49f3-9f9c-81748333c8c7",
      "name": "AI Agent",
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -80,
        -360
      ],
      "id": "b2dce5c2-d961-4dcd-b9d1-598e3b37e1ed",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "OGnK78x9dBsbaJZ0",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        100,
        -360
      ],
      "id": "798cfd2f-b949-4dca-a0c1-e326b87e4b06",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "company_products_knowlege",
        "toolDescription": "please call this tool when the use has specific question about the company's specific product or project",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        260,
        -340
      ],
      "id": "3e08ee6f-a64c-464a-a311-8db3d9688888",
      "name": "Simple Vector Store1",
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        280,
        -200
      ],
      "id": "5859bb63-0104-4fc7-a071-91d83d4f54c6",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "OGnK78x9dBsbaJZ0",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f2abe816-f142-41ae-8206-8e51a725e88e",
              "leftValue": "={{ $('Pass Context to Agent').item.json.metadata }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -860,
        2120
      ],
      "id": "422f1fb4-f5b8-4e0c-8365-05db7c13cea0",
      "name": "If",
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1320,
        2740
      ],
      "id": "fa14d51d-ffbf-4964-ae92-411781448a04",
      "name": "Simple Memory1",
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1140,
        2720
      ],
      "id": "60c48e2f-83ea-419a-8c61-8ffe3fcee914",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "OGnK78x9dBsbaJZ0",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1140,
        2480
      ],
      "id": "21ae39c4-0fd9-4ba0-8c82-42081ba81d95",
      "name": "AI Agent1",
      "disabled": true
    },
    {
      "parameters": {
        "chunkOverlap": 30,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        380,
        2080
      ],
      "id": "523d3a6d-e0f1-47a6-904b-e5f4640afe36",
      "name": "Recursive Character Text Splitter2",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        280,
        1860
      ],
      "id": "da696603-1625-453a-ad4b-20cf800bdc42",
      "name": "Default Data Loader1",
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        60,
        1840
      ],
      "id": "d47e2e09-f7c5-4529-bd78-be6389a3d0d9",
      "name": "Embeddings Google Gemini3",
      "credentials": {
        "googlePalmApi": {
          "id": "OGnK78x9dBsbaJZ0",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        180,
        1580
      ],
      "id": "cc307736-915e-4c08-aa88-c232df45d2f9",
      "name": "Simple Vector Store2",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -40,
        1580
      ],
      "id": "9a1d8999-d3d5-466e-a989-204f69c07ecf",
      "name": "Extract from File1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "10q9Zi54kGKveNqAgtWFwxXsrhEK70lln",
          "mode": "list",
          "cachedResultName": "📜 Cahier des Charges - MayelePass.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/10q9Zi54kGKveNqAgtWFwxXsrhEK70lln/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -260,
        1580
      ],
      "id": "8b61606a-434f-467f-a855-d3ea355af4a9",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "U4HawoHc4BS90qMt",
          "name": "Google Drive account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "functionCode": "// FIXED CODE - Add this to your \"Pass Context to Agent\" node\nreturn items.map((item) => {\n  return {\n    json: item.json,  // Your existing data\n    pairedItem: { item: item.index }  // CRITICAL metadata\n  };\n});"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        620,
        1580
      ],
      "id": "a43502f2-d359-49b5-be4e-6ee67093a90a",
      "name": "Pass Context to Agent",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1220,
        2120
      ],
      "id": "1c7bbb6b-9afc-493a-8d82-c40bedd19244",
      "name": "When chat message received",
      "webhookId": "97d40785-7eed-49d0-8294-07c63fa04a24",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1500,
        4320
      ],
      "id": "ef688980-3a18-4c7b-aabc-9776af47445f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "chunkOverlap": 30,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -600,
        4820
      ],
      "id": "e5fad3fb-3409-4619-92ac-b197d2468a0b",
      "name": "Recursive Character Text Splitter3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -700,
        4600
      ],
      "id": "6daddb1c-384f-460c-b122-f9c2748aacc6",
      "name": "Default Data Loader2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -920,
        4580
      ],
      "id": "c98344e6-a5b7-4b01-aa05-9466a71d4b5e",
      "name": "Embeddings Google Gemini4",
      "credentials": {
        "googlePalmApi": {
          "id": "OGnK78x9dBsbaJZ0",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        -800,
        4320
      ],
      "id": "321f37b6-a0a4-4e63-9844-f6f566add843",
      "name": "Simple Vector Store3"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1020,
        4320
      ],
      "id": "353ce563-7f7c-44be-8008-d51a2cd79d93",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "10q9Zi54kGKveNqAgtWFwxXsrhEK70lln",
          "mode": "list",
          "cachedResultName": "📜 Cahier des Charges - MayelePass.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/10q9Zi54kGKveNqAgtWFwxXsrhEK70lln/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1240,
        4320
      ],
      "id": "b6f98287-d8cd-48ac-aaeb-f99b8f4652e5",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "U4HawoHc4BS90qMt",
          "name": "Google Drive account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter2": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store2": {
      "main": [
        [
          {
            "node": "Pass Context to Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini3": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Simple Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Context to Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter3": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader2",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store3",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini4": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Simple Vector Store3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dfa1f8b8-201e-4637-a449-d28d53f9fe20",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "13dbdb0b7de4b57ec95450da6ae468b5174966d138912fd4acd4d1c4846b3046"
  },
  "id": "mPhWTWp6yI7sXLyv",
  "tags": []
}